.forum-box {
	padding: 0 0 120rpx;
	background: #F6F7F9;
	width: 100%;
	min-height: 100vh;
	.list-search-box {
		padding: 20rpx 24rpx;
		background: #fff;
		display: flex;
		width: 100%;
		height: auto;
		.search-form {
			margin: 0;
			flex: 1;
			position: relative;
			.iconfont {
				color: #FFD128;
				left: 0px;
				width: 80rpx;
				font-size: 40rpx;
				line-height: 80rpx;
				position: absolute;
				right: 0px;
				text-align: center;
			}
			input {
				border: 2rpx solid #FFD128;
				border-radius: 0;
				padding: 12rpx 20rpx 12rpx 80rpx;
				color: #000;
				background: #fff;
				width: 100%;
				font-size: 28rpx;
				line-height: 56rpx;
				height: 80rpx;
			}
		}
		.search-btn {
			border: 0;
			border-radius: 0;
			padding: 0px;
			margin: 0;
			color: #fff;
			background: #FFD128;
			width: 136rpx;
			font-size: 28rpx;
			line-height: 80rpx;
			height: 80rpx;
		}
	}
	.forum-list {
		padding: 20rpx;
		width: 100%;
		.forum-title {
			margin: 0 0 16rpx 0;
			color: #000;
			width: 100%;
		}
		.forum-list-item {
			position: relative;
			border-radius: 30rpx;
			box-shadow: none;
			padding: 30rpx;
			margin: 0 0 20rpx;
			background: #fff;
			display: flex;
			justify-content: space-between;
			.istop {
				box-shadow: none;
				top: 0;
				background: #fff;
				position: absolute;
				right: 20rpx;
				.iconfont {
					color: #000;
				}
			}
			image {
				border-radius: 10rpx;
				margin: 10rpx 0 0;
				width: 176rpx;
				height: 176rpx;
			}
			.info-box {
				width: calc(100% - 216rpx);
				.title {
					padding: 0 0 16rpx;
					color: #000;
				}
				.publisher {
					color: #bbb;
				}
				.time {
					color: #bbb;
				}
			}
		}
	}
}
.add-btn {
	border: 0;
	z-index: 999;
	color: #333;
	white-space: nowrap;
	bottom: 160rpx;
	display: flex;
	font-size: 28rpx;
	line-height: 80rpx;
	right: 20rpx;
	border-radius: 100%;
	box-shadow: none;
	outline: none;
	background: #FFD128;
	width: 80rpx;
	justify-content: center;
	align-items: center;
	position: fixed;
	height: 80rpx;
}
.scrollTop {
	border-radius: 50%;
	box-shadow: 0 8rpx 16rpx rgba(0,0,0,.3);
	z-index: 999;
	bottom: 20%;
	background: #ff000030;
	width: 60rpx;
	line-height: 60rpx;
	position: fixed;
	right: 20rpx;
	text-align: center;
	height: 60rpx;
	.iconfont {
		color: #fff;
	}
}