/* components/musicPlay/musicPlay.wxss */
.page {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20rpx 20rpx 0;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 -4rpx 10rpx rgba(0, 0, 0, .3);
  height: 150rpx;
  z-index: 11;
}

.listBG {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
  z-index: 998;
}

.list {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(40, 41, 45, 1);
  z-index: 999;
  padding: 20rpx 0 0;
  overflow: hidden;white-space: initial;
  max-height: 60vh;
  z-index: 999999;
  .music {
    width: 100%;
    padding: 0 24rpx;
    box-sizing: border-box;
    border-bottom: 1rpx solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ddd;

    .left {
      width: 15%;
      font-size: 28rpx;
      text-align: center;
      padding-right: 20rpx;
    }

    .center {
      width: 75%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      line-height: 1.8;
      padding: 10rpx 0;
    }

    .name {
      font-size: 32rpx;
      display: inline-block;
        white-space: nowrap; 
        width: 90%; 
        overflow: hidden;
        text-overflow:ellipsis;
    }

    .singer {
      font-size: 26rpx;
      color: #ccc;
      display: inline-block;
        white-space: nowrap; 
        width: 90%; 
        overflow: hidden;
        text-overflow:ellipsis;
    }

    .right {
      width: 10%;

      image {
        width: 36rpx;
      }
    }
  }

  .music:last-of-type {
    border: none;
    margin-bottom: 100rpx;
  }

  .musicActive {
    .left {
      image {
        width: 60rpx;
        height: 60rpx;
      }
    }

    .center {
      color: #03b4ff;

      .singer {
        color: #03b4ff;
      }
    }
  }
}

.playView {
  display: flex;
  width: 100%;
  align-items: center;

  .playLeft {
    font-size: 0;
    padding-right: 10rpx;

    image {
      width: 90rpx;
      height: 90rpx;
      border-radius: 10rpx;
    }
  }

  .playRight {
    width: calc(100% - 100rpx);
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .info {
    display: inline-block;
    white-space: nowrap;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .play {
    display: flex;
    align-items: center;
  }

  .bofang {
    width: 46rpx;
    margin-right: 16rpx;
  }

  .bofang1 {
    width: 50rpx;
    margin-right: 16rpx;
  }

  .bofang2 {
    width: 40rpx;
  }
}
.time {
  font-size: 13px;
}