/* components/wx-progress/wx-progress.wxss */
.progress_box {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.progress_bg {
  position: absolute;

}